.site-theme-light {
    --color-background: rgb(237,241,245);
    --content-color: rgb(250,250,250);
    --color-font: rgb(92,114,138);
    --color-font-on-dark: rgb(159, 173, 189);
    --color-header: rgb(43,45,66);
    --color-footer: rgb(17,22,29);
    
    --color-primary: #0060df;
    --color-secondary: #bcbcbc;
    --color-accent: #fd6f53;
}
.site-theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #bcbcbc;
    --color-accent: #12cdea;
    
    --color-background: rgb(13, 27, 41);
    --content-color: rgb(21,31,46);
    --color-font: rgb(159, 173, 189);
    --color-imporant-text: rgb(159,173,189);
    --color-small-text: rgb(114,138,161);
    --color-font-on-dark: rgb(159, 173, 189);
    --color-header: rgb(21,34,50);
    --color-footer: rgb(17,22,29);
}
.site-theme-high-contrast {
    --color-background: rgb(11, 22, 34);
}
/* html {
    background-color: var(--color-background);
} */
.wrapper {
    background-color: var(--color-background) !important;
    padding-top: 64px;
}
.bg-body-tertiary {
    background-color: var(--color-background) !important;
}
.content-zone {
    background-color: var(--content-color) !important;
    color: var(--color-font) !important
}
body {
    background-color: var(--color-background) !important;
}
.header-color {
    background-color: var(--color-header) !important;
    color: var(--font-color-on-dark) !important;
}
.footer {
    background-color: var(--color-footer) !important;
    color: var(--color-font-on-dark) !important;
}
.text {
    color: var(--color-font) !important
}
/* Movie Page*/
.title {
    color: var(color-imporant-text) !important
}
.subtext {
    color: var(--color-small-text) !important
}
.button {
    border-width: 2px;
    border: grey;
}
.thing {
    background-color: var(--color-secondary) !important;
}
.nav-bar-bump {
    margin-top: 80px !important;
}
.empty-space {
    margin-top: 400 !important; 
}













/* site theme info from anilist
.site-theme-dark {
    --color-background: 11, 22, 34;
    --color-foreground: 21, 31, 46;
    --color-foreground-grey: 15, 22, 31;
    --color-foreground-grey-dark: 6, 12, 19;
    --color-foreground-blue: 15, 22, 31;
    --color-foreground-blue-dark: 6, 12, 19;
    --color-text: 159, 173, 189;
    --color-text-light: 114, 138, 161;
    --color-text-lighter: 133, 150, 165;
    --color-shadow-blue: 0, 5, 15;
    --color-background-1200: 251, 251, 251;
    --color-background-1100: 240, 243, 246;
    --color-background-1000: 221, 230, 238;
    --color-background-900: 201, 215, 227;
    --color-background-800: 173, 192, 210;
    --color-background-700: 139, 160, 178;
    --color-background-600: 116, 136, 153;
    --color-background-500: 100, 115, 128;
    --color-background-400: 81, 97, 112;
    --color-background-300: 30, 42, 56;
    --color-background-100: 21, 31, 46;
    --color-background-200: 11, 22, 34;
    --color-gray-1200: 251, 251, 251;
    --color-gray-1100: 240, 243, 246;
    --color-gray-1000: 221, 230, 238;
    --color-gray-900: 201, 215, 227;
    --color-gray-800: 173, 192, 210;
    --color-gray-700: 139, 160, 178;
    --color-gray-600: 116, 136, 153;
    --color-gray-500: 100, 115, 128;
    --color-gray-400: 81, 97, 112;
    --color-gray-300: 30, 42, 56;
    --color-gray-100: 21, 31, 46;
    --color-gray-200: 11, 22, 34;
}
body {
    background: rgb(var(--color-background));
    color: rgb(var(--color-text));
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
    -line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
p { 
    --color-background: rgb(237, 241, 245);
    --color-foreground: 250, 250, 250;
    --color-foreground-grey: 245, 246, 246;
    --color-foreground-grey-dark: 234, 236, 237;
    --color-foreground-blue: 246, 248, 251;
    --color-foreground-blue-dark: rgb(241, 243, 247);
    --color-background-blue-dark: rgb(31, 35, 45);
    --color-overlay: 31, 38, 49;
    --color-shadow: 49, 54, 68;
    --color-shadow-dark: 6, 13, 34;
    --color-shadow-blue: rgb(103, 132, 187);
    --color-text: 92, 114, 138;
    --color-text-light: 122, 133, 143;
    --color-text-lighter: 146, 153, 161;
    --color-text-bright: 237, 241, 245;
    --color-blue: rgb(61, 180, 242);
    --color-blue-dim: rgb(141, 178, 219);
    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;
    --color-red: 232, 93, 117;
    --color-peach: 250, 122, 122;
    --color-orange: 247, 154, 99;
    --color-yellow: 247, 191, 99;
    --color-green: 123, 213, 85;
    --color-background-100: 251, 251, 251;
    --color-background-200: 237, 241, 245;
    --color-background-300: 221, 230, 238;
    --color-background-400: 201, 215, 227;
    --color-background-500: rgb(173, 192, 210);
    --color-background-600: 139, 160, 178;
    --color-background-700: 116, 136, 153;
    --color-background-800: rgb(100, 115, 128);
    --color-background-900: 81, 97, 112;
    --color-background-1000: 64, 78, 92;
    --color-background-1100: rgb(38, 52, 63);
    --color-background-1200: 27, 30, 31;
    --color-gray-100: 251, 251, 251;
    --color-gray-200: 237, 241, 245;
    --color-gray-300: 221, 230, 238;
    --color-gray-400: 201, 215, 227;
    --color-gray-500: 173, 192, 210;
    --color-gray-600: 139, 160, 178;
    --color-gray-700: 116, 136, 153;
    --color-gray-800: 100, 115, 128;
    --color-gray-900: 81, 97, 112;
    --color-gray-1000: 64, 78, 92;
    --color-gray-1100: 38, 52, 63;
    --color-gray-1200: 27, 30, 31;
    --color-blue-100: rgb(247, 250, 252);
    --color-blue-200: 236, 246, 254;
    --color-blue-300: 201, 232, 255;
    --color-blue-400: rgb(143, 215, 255);
    --color-blue-500: rgb(111, 200, 255);
    --color-blue-600: rgb(61, 180, 242);
    --color-blue-700: rgb(8, 143, 214);
    --color-blue-800: rgb(12, 101, 166);
    --color-blue-900: rgb(11, 70, 113);
    --color-blue-1000: rgb(16, 61, 85);
    --color-green-100: 245, 249, 243;
    --color-green-200: 226, 246, 217;
    --color-green-300: 160, 241, 126;
    --color-green-400: 119, 220, 76;
    --color-green-500: 83, 175, 45;
    --color-green-600: 56, 126, 26;
    --color-green-700: 46, 90, 27;
    --color-green-800: 41, 66, 31;
    --color-red-100: 255, 244, 246;
    --color-red-200: 254, 212, 220;
    --color-red-300: 255, 140, 160;
    --color-red-400: 236, 41, 75;
    --color-red-500: 213, 0, 37;
    --color-red-600: 165, 1, 29;
    --color-red-700: 117, 0, 20;
} */