.site-theme-light {
    --color-background: rgb(237,241,245);
    --content-color: rgb(250,250,250);
    --color-font: rgb(92,114,138);
    --color-font-on-dark: rgb(159, 173, 189);
    --color-header: rgb(43,45,66);
    --color-footer: rgb(17,22,29);
    
    --color-primary: #0060df;
    --color-secondary: #bcbcbc;
    --color-accent: #fd6f53;
}
.site-theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #bcbcbc;
    --color-accent: #12cdea;
    
    --color-background: rgb(13, 27, 41);
    --content-color: rgb(21,31,46);
    --color-font: rgb(159, 173, 189);
    --color-imporant-text: rgb(159,173,189);
    --color-small-text: rgb(114,138,161);
    --color-font-on-dark: rgb(159, 173, 189);
    --color-header: rgb(21,34,50);
    --color-footer: rgb(17,22,29);
}
.site-theme-high-contrast {
    --color-background: rgb(11, 22, 34);
}
/* html {
    background-color: var(--color-background);
} */
.wrapper {
    background-color: var(--color-background) !important;
    padding-top: 64px;
}
.bg-body-tertiary {
    background-color: var(--color-background) !important;
}
.content-zone {
    background-color: var(--content-color) !important;
    color: var(--color-font) !important
}
body {
    background-color: var(--color-background) !important;
}
.header-color {
    background-color: var(--color-header) !important;
    color: var(--font-color-on-dark) !important;
}
.footer {
    background-color: var(--color-footer) !important;
    color: var(--color-font-on-dark) !important;
}
.text {
    color: var(--color-font) !important
}
.card {
    background-color: var(--content-color) !important;
    color: var(--color-font) !important
}
/* Movie Page*/
.title {
    color: var(--color-imporant-text) !important
}
.subtext {
    color: var(--color-small-text) !important
}
.subtext:hover {
    color: var(--color-imporant-text) !important
}
.button {
    border-width: 2px;
    border: grey;
}
.thing {
    background-color: var(--color-secondary) !important;
}
.nav-bar-bump {
    margin-top: 80px !important;
}
.attributions-boxes{
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}
.empty-space {
    margin-top: 400 !important; 
}
